{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">ALL INVOICE DETAILS</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>

            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
        </ul>
    </div>

    <div class="col-md-20">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <h4 class="card-title">VIEW ALL INVOICE</h4>
                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                        <i class="fa fa-plus"></i>
                        Add Invoice
                    </button>
                </div>
            </div>
            <div class="card-body">
                <!-- Modal -->
                <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header no-bd">
                                <h5 class="modal-title">
                                    <span class="fw-mediumbold"> New</span>
                                    <span class="fw-light">
                                        Row
                                    </span>
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="small">Create a new row using this form, make sure you fill them all</p>
                                <form method="POST" , action="{% url 'add_customer' %}">
                                    {% csrf_token %}
                                    <div class="container">
                                        <div class="row">
											
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Customer</label>
													<select id="addAddress" class="form-control"name="address">
                                                        {% for cust in customer %}
                                                        <option>{{ cust }}</option>
                                                        {% endfor %}
                                                    </select>
												</div>
                                            </div>
                                            <div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Title</label>
													<input id="addtitle" type="text" class="form-control" placeholder="Enter Title" name="title" style="word-wrap:break-word; table-layout:fixed;">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Bill Type</label>
													<input id="addBillType" type="text" class="form-control" placeholder="Enter Bill Type" name="bill_type" style="word-wrap:break-word; table-layout:fixed;">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Hsn code</label>
													<input id="addHsnCode" type="text" class="form-control" placeholder="Enter Hsn code" name="hsn_code">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Invoice no. </label>
													<input id="addInvoiceNo" type="number" class="form-control" placeholder="Enter Invoice no." name="invoice_num">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Dated</label>
													<input id="addDated" type="date" class="form-control" name="dated">
												</div>
											</div>
                                            <div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Challan no. </label>
													<input id="addChallanNo" type="number" class="form-control" placeholder="Enter Challan no." name="challan_num">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Date</label>
													<input id="addDate" type="date" class="form-control" name="date">
												</div>
											</div>
                                            <div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Transport</label>
													<input id="addTransport" type="text" class="form-control" placeholder="Enter Transport" name="transport" style="word-wrap:break-word; table-layout:fixed;">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group form-group-default">
													<label>Vehicle no.</label>
													<input id="addVehicleNo" type="text" class="form-control" placeholder="Enter Vehicle number" name="vehicle_no1">
												</div>
                                            </div>
                                            <div class="col-sm-6">
												<div class="form-group form-group-default">
													<label>Slug</label>
													<input id="addSlug" type="text" class="form-control" placeholder="Enter slug" name="slug">
												</div>
											</div>
										</div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr class="item-row">
                                                                <th>Sr No.</th>
                                                                <th>Design Name</th>
                                                                <th>Quantity</th>
                                                                <th>Dibbi </th>
                                                                <th>Rate</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr id="hiderow">
                                                                <td colspan="5">
                                                                    <a id="addRow" href="javascript:;" title="Add a row" class="btn btn-primary">Add a row</a>
                                                                </td>
                                                            </tr>
                                                            <!-- Here should be the item row -->
                                                            <!--<tr class="item-row">
																		<td><input class="form-control item" placeholder="Item" type="text"></td>
																		<td><input class="form-control price" placeholder="Price" type="text"></td>
																		<td><input class="form-control qty" placeholder="Quantity" type="text"></td>
																		<td><span class="total">0.00</span></td>
																	</tr>-->
                                                            <tr>
                                                                
                                                                
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Total Quantity: </strong><span id="totalQty" style="color: red; font-weight: bold;">0</span> Units</td>
                                                            
                                                            </tr>
                                                           
                                                            <tr>
                                                                
                                                                <td class="text-left"><strong>Balance Amount</strong></td>
                                                                <td><span id="grandTotal">0</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer no-bd">
                                        <button type="submit" id="addRowButton" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="add-row" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>View</th>
                                <th>Total Amount</th>
                                <th>Balanced Amount</th>
                                <th>Date</th>
                                <th>Last Modified</th>
                                
                                <th style="width: 10%;">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Total Amount</th>
                                <th>Balanced Amount</th>
                                <th>Last Modified</th>
                                
                                <th style="width: 10%;">Action</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.address }}</td>
                                <td>{{ customer.mobile_no }}</td>
                                <td>{{ customer.city }}</td>
                                <td>{{ customer.state }}</td>
                                <td>{{ customer.gst_no }}</td>

                                <td>
                                    <div class="form-button-action">
                                        <button class="btn btn-link btn-primary btn-lg" data-toggle="modal" data-target="#editRowModal">
                                            <i class="fa fa-edit fa-lg"></i>
                                        </button>
                                        <div class="modal fade" id="editRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header no-bd">
                                                        <h5 class="modal-title">
                                                            <span class="fw-mediumbold"> Edit</span>
                                                            <span class="fw-light">
                                                                Row
                                                            </span>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="small">Edit row using this form, make sure you edit them properly</p>
                                                        <form method="POST" , action="{% url 'edit_customer' %}">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <input type="hidden" name="id" value="{{ customer.pk }}" />
                                                                    <div class="form-group form-group-default">
                                                                        <label>Name</label>
                                                                        <input id="editName" type="text" class="form-control" placeholder="fill name" name="customer" value="{{ customer.name }}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 pr-0">
                                                                    <div class="form-group form-group-default">
                                                                        <label>Address</label>
                                                                        <input id="editAddress" type="text" class="form-control" placeholder="fill address" name="address" value="{{ customer.address }}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group form-group-default">
                                                                        <label>Mobile No</label>
                                                                        <input id="editMobile" type="text" class="form-control" placeholder="fill mobile" name="mobile" value="{{ customer.mobile_no }}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group form-group-default">
                                                                        <label>City</label>
                                                                        <input id="editCity" type="text" class="form-control" placeholder="fill city" name="city" value="{{ customer.city }}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group form-group-default">
                                                                        <label>State </label>
                                                                        <input id="editState" type="text" class="form-control" placeholder="fill state" name="state" value="{{ customer.state }}" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group form-group-default">
                                                                        <label>GST No</label>
                                                                        <input id="editGst" type="text" class="form-control" placeholder="fill gst" name="gst" value="{{ customer.gst_no }}" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <table class="inventory">
                                                                <thead>
                                                                    <tr>
                                                                        <th><span contenteditable>Item</span></th>
                                                                        <th><span contenteditable>Description</span></th>
                                                                        <th><span contenteditable>Rate</span></th>
                                                                        <th><span contenteditable>Quantity</span></th>
                                                                        <th><span contenteditable>Price</span></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td><a class="cut">-</a><span contenteditable>Front End Consultation</span></td>
                                                                        <td><span contenteditable>Experience Review</span></td>
                                                                        <td><span data-prefix>$</span><span contenteditable>150.00</span></td>
                                                                        <td><span contenteditable>4</span></td>
                                                                        <td><span data-prefix>$</span><span>600.00</span></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <a class="add">+</a>
                                                            <div class="modal-footer no-bd">
                                                                <button type="submit" id="addRowButton" class="btn btn-primary">Update</button>
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-link btn-danger" data-original-title="Remove" data-toggle="modal" data-target="#deleteRowModal">
                                            <i class="fa fa-times fa-2x"></i>
                                        </button>

                                        <div class="modal fade" id="deleteRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header no-bd">
                                                        <h5 class="modal-title">
                                                            <span class="fw-mediumbold"> Delete</span>
                                                            <span class="fw-light">
                                                                Customer
                                                            </span>
                                                        </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="POST" , action="{% url 'remove_customer' %}">
                                                            {% csrf_token %}
                                                            <p>Note that removing is permanent and you will not be able to restore. Do you still want to delete?</p>
                                                            <div class="modal-footer no-bd">
                                                                <input type="hidden" name="id" value="{{ customer.pk }}" />
                                                                <button type="submit" id="addRowButton" class="btn btn-primary">Yes</button>
                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
