{% extends 'base.html' %}
{% load static %}
{% block onload %}sweetAlert(){% endblock %}
{% block content %}
    <style>
        .link-but-not-text{
            color:black;
        }
        .link-but-not-text:hover{
            text-decoration:none;
            color:black;
        }
        .link-but-not-text:focus{
            text-decoration:none;
            color:black;
        }
    </style>
<div class="page-navs bg-white">
    <div class="page-header">
        <p>Drive</p>
    </div>

    <div class="col-md-20">
        <div class="container-fluid">
            <div class="d-flex align-items-center" style="margin-top: 30px; margin-bottom: 30px;">
                <h4 class="card-title" style="margin-bottom: 5px;">
                    {% if showBack %}
                    <a href="{% url 'drive_path' back %}">
                        <i class="fas fa-arrow-left btn btn-primary btn-round" style="margin-right: 5px"></i>
                    </a>
                    {% endif %}
                    Drive</h4>
                <div class="row ml-auto">
                    <div class="dropdown show" style="margin-right: 20px; margin-bottom: 10px;">
                    <a class="btn btn-primary btn-round dropdown-toggle ml-auto" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addFolder">Add Folder</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addFile">Add File</a>
                    </div>
                </div>
                    <a class="btn btn-primary btn-round ml-auto" style="margin-right: 20px; margin-bottom: 10px; color:white;" data-toggle="modal" data-target=".bd-example-modal-sm">
                        <i class="fa fa-plus"></i>
                        Upload
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

            <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Upload Files</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

            {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
            <input id="fileupload" type="file" name="file" multiple
               style="display: none;"
               data-url="{% url 'basic_upload' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                <div class="well text-muted text-center js-upload-photos" style="padding-top: 4rem; padding-bottom: 4rem;">
{#                        <button type="button" class="btn btn-primary js-upload-photos">#}
{#                          <span class="glyphicon glyphicon-cloud-upload"></span> Upload Files#}
{#                        </button>#}
                    <div class="card-body">
                        <div class="dz-message" data-dz-message="">
                        <div class="icon">
                            <i class="flaticon-file"></i>
                        </div>
                        <h4 class="message">Drag and Drop files here</h4>
                        <div class="note">Drag and Drop your files to continue</div>
                    </div>
                    </div>
                </div>
		</div>
	</div>
</div>

    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add Folder</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <form action="{% url 'add_folder' path %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        Enter your folder name below:
                        <input type="text" class="form-control" placeholder="Enter your folder name" name="folder-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
		</div>
	</div>
</div>
<div class="modal fade" id="addFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add File</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <form action="{% url 'add_file' path %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        Enter your file name below:
                        <input type="text" class="form-control" placeholder="Enter your file name" name="file-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
		</div>
	</div>
</div>
    <div class="page-inner" style="margin-top: -40px;">
        <div class="row row-projects">
            {% for each in drive %}
                <div class="col-sm-4 col-lg-2">
                    {% if each.is_dir %}
                        <div class="card">
                            <a href="{% url 'drive_path' each %}" class="link-but-not-text">
                                <center><img class="card-img-top rounded" src="{% static 'img/folder.png' %}" alt="folder img" style="width:150px;"></center>
                            </a>
                            <div class="card-body pt-2">
                                <a href="{% url 'drive_path' each %}" class="link-but-not-text">
                                    <h4 class="mb-1 fw-bold" style="font-size:12px;">{{ each.name|slice:":18" }}</h4>
                                </a>
                                <div class="row">
                                    <button class="btn btn-link btn-danger" data-original-title="Remove" data-toggle="modal" data-target="#deleteFolder{{ forloop.counter }}">
                                        <i class="fa fa-times" style="font-size: 20px;"></i>
                                    </button>
                                    <button class="btn btn-link btn-primary btn-lg ml-auto" data-toggle="modal" data-target="#RenameFolder{{ forloop.counter }}">
                                        <i class="fa fa-edit" style="font-size: 17px;"></i>
                                    </button>

                                    <div class="modal fade" id="deleteFolder{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete folder</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="{% url 'remove_folder' path %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            Are you sure to delete this folder? <br>
                                                            <input type="hidden" value="{{ each }}" name="folder-path">
                                                            <small style="font-size: 10px; color:grey;">Note that deleting is permanent and you won't be able to recover this Folder</small>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger" name="upload">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="RenameFolder{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Rename Folder</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="{% url 'rename_folder' path %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            Enter your new name below for this folder:
                                                            <input type="hidden" value="{{ each }}" name="folder-path">
                                                            <input type="text" class="form-control" name="folder-name" placeholder="Enter your name here." value="{{ each.name }}">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" name="upload">Rename</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif each.is_file %}
                        <div class="card">
                            <a href="/{{ path }}/{{ each.name }}" class="link-but-not-text">
                                <center><img class="card-img-top rounded" src="{% static 'img/file.png' %}" alt="file img" style="width:130px;"></center>
                            </a>
                            <div class="card-body pt-2">
                                <a href="" class="link-but-not-text">
                                    <h4 class="mb-1 fw-bold" style="font-size:12px;">{{ each.name|slice:":18" }}</h4>
                                </a>
                                <div class="row">
                                    <button class="btn btn-link btn-danger" data-original-title="Remove" data-toggle="modal" data-target="#deleteFile{{ forloop.counter }}">
                                        <i class="fa fa-times" style="font-size: 20px;"></i>
                                    </button>
                                    <button class="btn btn-link btn-primary btn-lg ml-auto" data-toggle="modal" data-target="#renameFile{{ forloop.counter }}">
                                        <i class="fa fa-edit" style="font-size: 17px;"></i>
                                    </button>
                                    <div class="modal fade" id="deleteFile{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Delete File</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="{% url 'remove_file' path %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            Are you sure to delete this File? <br>
                                                            <input type="hidden" value="{{ each }}" name="file-path">
                                                            <small style="font-size: 10px; color:grey;">Note that deleting is permanent and you won't be able to recover this file</small>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-danger" name="upload">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="renameFile{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Rename File</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="{% url 'rename_file' path %}" method="POST" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            Enter your new name below for this file:
                                                            <input type="hidden" value="{{ each }}" name="file-path">
                                                            <input type="text" class="form-control" name="file-name" value="{{ each.name }}" placeholder="Enter your name here.">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-primary" name="upload">Rename</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    function sweetAlert(){
        {% for message in messages %}
            swal("{{ message }}", {
                icon : "error",
                buttons: {
                    confirm: {
                        className : 'btn btn-danger'
                    }
                },
            });
        {% endfor %}
    }
{% endblock %}