{% extends 'base.html' %}
{% load static %}
{% block onload %}sweetAlert(){% endblock %}
{% block content %}
    <style>
        .link-but-not-text{
            color:black;
        }
        .link-but-not-text:hover{
            text-decoration:none;
            color:black;
        }
        .link-but-not-text:focus{
            text-decoration:none;
            color:black;
        }
    </style>
<div class="page-navs bg-white">
    <div class="page-header">
        <p>Drive</p>
    </div>

    <div class="col-md-20">
        <div class="container-fluid">
            <div class="d-flex align-items-center" style="margin-top: 30px; margin-bottom: 30px;">
                <h4 class="card-title" style="margin-bottom: 5px;">
                    {% if showBack %}
                    <a href="{% url 'drive_path' back %}">
                        <i class="fas fa-arrow-left btn btn-primary btn-round" style="margin-right: 5px"></i>
                    </a>
                    {% endif %}
                    Drive</h4>
                <div class="row ml-auto">
                    <div class="dropdown show" style="margin-right: 20px; margin-bottom: 10px;">
                    <a class="btn btn-primary btn-round dropdown-toggle ml-auto" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                        Add
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addFolder">Add Folder</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#addFile">Add File</a>
                    </div>
                </div>

                    <div class="dropdown show" style="margin-right: 20px; margin-bottom: 10px;">
                    <a class="btn btn-primary btn-round dropdown-toggle ml-auto" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i>
                        Upload
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target=".bd-example-modal-sm">Upload Files</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target=".uploadImageInImageFolder">Upload Image</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target=".uploadPDFInPDFFolder">Upload PDF</a>
                    </div>
                </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

            <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Upload Files</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <input id="fileupload" type="file" name="file" multiple
               style="display: none;"
               data-url="{% url 'basic_upload' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                <div class="well text-muted text-center js-upload-files" style="padding-top: 4rem; padding-bottom: 4rem;">
                    <div class="card-body">
                        <div class="dz-message" data-dz-message="">
                        <div class="icon">
                            <i class="flaticon-file"></i>
                        </div>
                        <h4 class="message">Drag and Drop files here</h4>
                        <div class="note">Drag and Drop your files to continue</div>
                    </div>
                    </div>
                </div>
		</div>
	</div>
</div>

    <div class="modal fade uploadImageInImageFolder" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

            <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Upload Images</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

            {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
            <input id="imageupload" type="file" name="file" multiple
               style="display: none;"
               accept="image/*"
               data-url="{% url 'image_upload' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                <div class="well text-muted text-center js-upload-photos" style="padding-top: 4rem; padding-bottom: 4rem;">
                    <div class="card-body">
                        <div class="dz-message" data-dz-message="">
                        <div class="icon">
                            <i class="flaticon-file"></i>
                        </div>
                        <h4 class="message">Drag and Drop Images here</h4>
                        <div class="note">Drag and Drop your images to continue</div>
                    </div>
                    </div>
                </div>
		</div>
	</div>
</div>

<div class="modal fade uploadPDFInPDFFolder" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

            <div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Upload PDF</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

            {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
            <input id="pdfupload" type="file" name="file" multiple
               style="display: none;"
               accept=".pdf"
               data-url="{% url 'pdf_upload' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                <div class="well text-muted text-center js-upload-pdf" style="padding-top: 4rem; padding-bottom: 4rem;">
                    <div class="card-body">
                        <div class="dz-message" data-dz-message="">
                        <div class="icon">
                            <i class="flaticon-file"></i>
                        </div>
                        <h4 class="message">Drag and Drop PDF here</h4>
                        <div class="note">Drag and Drop your PDF to continue</div>
                    </div>
                    </div>
                </div>
		</div>
	</div>
</div>

    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add Folder</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <form action="{% url 'add_folder' path %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        Enter your folder name below:
                        <input type="text" class="form-control" placeholder="Enter your folder name" name="folder-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
		</div>
	</div>
</div>
<div class="modal fade" id="addFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Add File</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
            <form action="{% url 'add_file' path %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        Enter your file name below:
                        <input type="text" class="form-control" placeholder="Enter your file name" name="file-name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
		</div>
	</div>
</div>
    <div class="page-inner" style="margin-top: -40px;">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="dropdown">
                            <i class="icon-options" style="cursor:pointer; float: right;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="font-weight: bolder"></span>
                            </i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <a class="dropdown-item btn btn-round" href="#" data-toggle="modal" data-target="#copyModal">
                                    <i class="icon-eye" style="font-weight: bolder; color:#8AA3FF;"></i>
                                    Details
                                </a>
                                <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="dropdown-item" href="#">
                                    <i class="icon-share" style="font-weight: bolder; color:#8AA3FF;"></i>
                                    Share
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-copy" style="font-weight: bolder; color:#8AA3FF;"></i>
                                    Copy
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="icon-arrow-right-circle" style="font-weight: bolder; color:#8AA3FF;"></i>
                                    Move
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="icon-pencil" style="font-weight: bolder; color:#8AA3FF;"></i>
                                    Rename
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="icon-trash" style="font-weight: bolder; color:#8AA3FF;"></i>
                                    Remove
                                </a>
                            </div>
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted" style="font-weight: bold;">
                            <img src="{% static 'img/folder.png' %}" height="30px" alt="">
                            Card subtitle
                        </h6>
                        <small>03 May 235 KB 3 Members</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    function sweetAlert(){
        {% for message in messages %}
            swal("{{ message }}", {
                icon : "error",
                buttons: {
                    confirm: {
                        className : 'btn btn-danger'
                    }
                },
            });
        {% endfor %}
    }
{% endblock %}